@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  background: url(https://source.unsplash.com/random/?company) center center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 2.5rem;
}

.col {
  width: 1000px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}

.col div {
  width: 250px;
  text-align: center;
}

input {
  width: 50%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border: transparent;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

input:focus {
  outline: none;
}
